.back-button {
  position: relative;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  margin: 15px;
  background-color: yellow;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.back-button:hover {
  background-color: rgb(182, 182, 0);
  color: white;
}

.back-button:active {
  border: none;
}
