.background-color-grey {
  background-color: rgb(1, 107, 139);
}

.no-bd {
  border: none;
}

.pd-20px {
  padding: 20px;
}

.pd-10px {
  padding: 10px;
}

.width-400px {
  width: 400px;
}

.width-100per {
  width: 100%;
}

.height-50px {
  height: 50px;
}

.height-80px {
  height: 80px;
}

.radius-20px {
  border-radius: 20px;
}

.radius-5px {
  border-radius: 5px;
}

.mg-20px {
  margin: 20px;
}

.pt-pb-pl-10px {
  padding: 10px 0px 10px 10px;
}

.buttonload {
  background-color: #4caf50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  font-size: 16px; /* Set a font-size */
}

.loader {
  border: 4px solid white; /* Light grey */
  border-top: 4px solid grey; /* Blue */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 5s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.border-box {
  box-sizing: border-box;
}
