.background-color-grey {
  background-color: grey;
}

.no-bd {
  border: none;
}

.pd-20px {
  padding: 20px;
}

.pd-10px {
  padding: 10px;
}

.width-400px {
  width: 400px;
}

.width-100per {
  width: 100%;
}

.height-50px {
  height: 50px;
}

.radius-20px {
  border-radius: 20px;
}

.radius-5px {
  border-radius: 5px;
}

.mg-20px {
  margin: 20px;
}

.pt-pb-pl-10px {
  padding: 10px 0px 10px 10px;
}
