.mg-10px {
  margin: 10px;
}

.mg-5px {
  margin: 5px;
}

ul.navbarhorizontal {
  list-style-type: none;
}

ul.navbarhorizontal.li.a:hover {
  background-color: white;
}

.background-color-black {
  background-color: black;
}

.color-white {
  color: white;
}

.width-height-21px {
  max-width: 21px;
  max-height: 21px;
}
